body {
  background-color: #eee;
}

.money-panel > .panel-heading {
  background-color: #3cb371;
  color: white;
}

.btn-clear {
  background-color: #2cb371;
  color: white;
}

.currency-label, .currency-total {
  font-size: 1.6rem;
}

.money-panel {
  max-width: 500px;
}

.copyright-footer {
  margin-bottom: 0;
}
