* {
	box-sizing: border-box;
}
html {
	font-size = 62.5%;
}
body {
	margin: 0;
	text-align: center;
}
h1 {
	text-align: center;
}
.money {
	overflow: hidden;
	margin-bottom: .5em;
	border: 1px solid black;
}
label {
	text-align: left;
	float: left;
	width: 50%;
}
input {
	float: left;
	width: 4em;
}
#currencies {
	display: inline-block;
}
#currencies {
	width: 300px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-column-gap: 0px;
	-moz-column-gap: 0px;
	column-gap: 0px;
}
#total {
	text-align: center;
}
button {
	border: none;
	font-size: 1em;
	padding: .5em 1em;
	background-color: lightgray;
}
button:hover {
	background-color: gray;
}

@media (min-width: 620px) {
	#currencies {
		width: 600px;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-moz-column-gap: 1px;
	}
}
@media (min-width: 920px) {
	#currencies {
		width: 900px;
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}
